<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="37" android:compileSdkVersionCodename="17" package="com.unshoo.pixelmusic" platformBuildVersionCode="37" platformBuildVersionName="17">
    <queries>
        <package android:name="com.snapchat.android"/>
        <package android:name="com.instagram.android"/>
        <package android:name="com.google.android.gms.policy_cast_dynamite"/>
    </queries>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:maxSdkVersion="28" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:maxSdkVersion="30" android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <permission android:name="com.unshoo.pixelmusic.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.unshoo.pixelmusic.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:dataExtractionRules="@xml/data_extraction_rules" android:enableOnBackInvokedCallback="true" android:extractNativeLibs="true" android:fullBackupContent="@xml/backup_rules" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:localeConfig="@xml/locales_config" android:name="com.unshoo.pixelmusic.PixelMusicApplication" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.PixelMusic" android:usesCleartextTraffic="false">
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="true" android:label="@string/app_name" android:launchMode="singleTop" android:name="com.unshoo.pixelmusic.MainActivity" android:theme="@style/Theme.PixelMusic" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MUSIC_PLAYER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.unshoo.pixelmusic.action.OPEN_PLAYER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity>
        <activity android:exported="false" android:label="Telegram Login" android:name="com.unshoo.pixelmusic.presentation.telegram.auth.TelegramLoginActivity" android:theme="@style/Theme.PixelMusic" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:label="Netease Login" android:name="com.unshoo.pixelmusic.presentation.netease.auth.NeteaseLoginActivity" android:theme="@style/Theme.PixelMusic" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:label="Google Drive Login" android:name="com.unshoo.pixelmusic.presentation.gdrive.auth.GDriveLoginActivity" android:theme="@style/Theme.PixelMusic" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:label="QQ Music Login" android:name="com.unshoo.pixelmusic.presentation.qqmusic.auth.QqMusicLoginActivity" android:theme="@style/Theme.PixelMusic" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:label="Navidrome Login" android:name="com.unshoo.pixelmusic.presentation.navidrome.auth.NavidromeLoginActivity" android:theme="@style/Theme.PixelMusic" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:label="Jellyfin Login" android:name="com.unshoo.pixelmusic.presentation.jellyfin.auth.JellyfinLoginActivity" android:theme="@style/Theme.PixelMusic" android:windowSoftInputMode="adjustResize"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:grantUriPermissions="true" android:label="@string/app_name" android:launchMode="singleTop" android:name="com.unshoo.pixelmusic.ExternalPlayerActivity" android:theme="@style/Theme.PixelMusic.ExternalPlayer">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="audio/*"/>
                <data android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
        </activity>
        <service android:exported="true" android:foregroundServiceType="mediaPlayback" android:name="com.unshoo.pixelmusic.data.service.MusicService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
                <action android:name="androidx.media3.session.MediaLibraryService"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.google.android.gms.car.application" android:resource="@xml/automotive_app_desc"/>
        <receiver android:exported="false" android:name="com.unshoo.pixelmusic.ui.glancewidget.PixelMusicGlanceWidgetReceiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/pixelmusic_glance_widget_info"/>
        </receiver>
        <receiver android:exported="false" android:name="com.unshoo.pixelmusic.ui.glancewidget.BarWidget4x1Receiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/bar_widget_4x1_info"/>
        </receiver>
        <receiver android:exported="false" android:name="com.unshoo.pixelmusic.ui.glancewidget.ControlWidget4x2Receiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/control_widget_4x2_info"/>
        </receiver>
        <receiver android:exported="false" android:name="com.unshoo.pixelmusic.ui.glancewidget.GridWidget2x2Receiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/grid_widget_2x2_info"/>
        </receiver>
        <receiver android:exported="false" android:name="com.unshoo.pixelmusic.data.service.SleepTimerReceiver"/>
        <receiver android:exported="true" android:name="com.unshoo.pixelmusic.data.service.PixelMusicMediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.unshoo.pixelmusic.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="okhttp3.internal.platform.PlatformInitializer" android:value="androidx.startup"/>
        </provider>
        <receiver android:exported="false" android:name="com.unshoo.pixelmusic.ui.glancewidget.WidgetUpdateReceiver">
            <intent-filter>
                <action android:name="com.unshoo.pixelmusic.ACTION_WIDGET_UPDATE_PLAYBACK_STATE"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:foregroundServiceType="mediaPlayback" android:name="com.unshoo.pixelmusic.data.service.http.MediaFileHttpServerService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync" android:name="com.unshoo.pixelmusic.data.service.wear.WatchTransferForegroundService"/>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
        <meta-data android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME" android:value="com.unshoo.pixelmusic.data.service.cast.CastOptionsProvider"/>
        <provider android:authorities="com.unshoo.pixelmusic.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <provider android:authorities="com.unshoo.pixelmusic.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.unshoo.pixelmusic.data.provider.SnapFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <provider android:authorities="com.unshoo.pixelmusic.artwork" android:exported="false" android:grantUriPermissions="true" android:name="com.unshoo.pixelmusic.data.provider.SharedArtworkContentProvider"/>
        <service android:exported="true" android:name="com.unshoo.pixelmusic.data.service.wear.WearCommandReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>
                <data android:host="*" android:pathPrefix="/playback_command" android:scheme="wear"/>
                <data android:host="*" android:pathPrefix="/volume_command" android:scheme="wear"/>
                <data android:host="*" android:pathPrefix="/browse_request" android:scheme="wear"/>
                <data android:host="*" android:pathPrefix="/transfer_request" android:scheme="wear"/>
                <data android:host="*" android:pathPrefix="/transfer_cancel" android:scheme="wear"/>
                <data android:host="*" android:pathPrefix="/transfer_progress" android:scheme="wear"/>
                <data android:host="*" android:pathPrefix="/watch_library_state" android:scheme="wear"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:icon="@drawable/ic_shortcut_shuffle" android:label="@string/tile_shuffle_all" android:name="com.unshoo.pixelmusic.data.service.tile.ShuffleAllTileService" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:icon="@drawable/ic_shortcut_playlist" android:label="@string/tile_last_playlist" android:name="com.unshoo.pixelmusic.data.service.tile.LastPlaylistTileService" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service android:enabled="false" android:exported="false" android:name="androidx.appcompat.app.AppLocalesMetadataHolderService">
            <meta-data android:name="autoStoreLocales" android:value="true"/>
        </service>
        <meta-data android:name="com.snapchat.kit.sdk.clientId" android:value="cb161c07-2ed5-4064-87b0-f8dedf684849"/>
        <meta-data android:name="com.snap.kit.clientId" android:value="cb161c07-2ed5-4064-87b0-f8dedf684849"/>
        <receiver android:exported="false" android:name="com.google.android.gms.cast.framework.media.MediaIntentReceiver"/>
        <service android:exported="false" android:name="com.google.android.gms.cast.framework.ReconnectionService"/>
        <service android:enabled="true" android:exported="false" android:name="androidx.credentials.playservices.CredentialProviderMetadataHolder">
            <meta-data android:name="androidx.credentials.CREDENTIAL_PROVIDER_KEY" android:value="androidx.credentials.playservices.CredentialProviderPlayServicesImpl"/>
        </service>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:enabled="true" android:exported="false" android:fitsSystemWindows="true" android:name="androidx.credentials.playservices.controllers.identityauth.HiddenActivity" android:theme="@style/Theme.Hidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:enabled="true" android:exported="false" android:fitsSystemWindows="true" android:name="androidx.credentials.playservices.controllers.identitycredentials.IdentityCredentialApiHiddenActivity" android:theme="@style/Theme.Hidden"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:enabled="true" android:excludeFromRecents="true" android:exported="false" android:name="androidx.glance.appwidget.action.ActionTrampolineActivity" android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:enabled="true" android:exported="false" android:launchMode="singleInstance" android:name="androidx.glance.appwidget.action.InvisibleActionTrampolineActivity" android:noHistory="true" android:taskAffinity="androidx.glance.appwidget.ListAdapterCallbackTrampoline" android:theme="@style/Widget.Glance.AppWidget.CallbackTrampoline"/>
        <receiver android:enabled="true" android:exported="false" android:name="androidx.glance.appwidget.action.ActionCallbackBroadcastReceiver"/>
        <receiver android:enabled="true" android:exported="false" android:name="androidx.glance.appwidget.UnmanagedSessionReceiver"/>
        <receiver android:enabled="true" android:exported="false" android:name="androidx.glance.appwidget.MyPackageReplacedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="androidx.glance.appwidget.GlanceRemoteViewsService" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.snapchat.kit.sdk.creative.internal.SnapCreativeShareResultHandler"/>
        <provider android:authorities="com.unshoo.pixelmusic.SnapKitInitProvider" android:exported="false" android:name="com.snapchat.kit.sdk.SnapKitInitProvider"/>
        <service android:name="androidx.core.widget.RemoteViewsCompatService" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
    </application>
</manifest>
